.budget_detail-intro {
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.budget_detail-intro .catName {
  background-color: #056eff;
  letter-spacing: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 40px;
  padding: 10px 15px;
  display: inline-block;
}
.budget_detail-intro .budget_detail-feature-img {
  margin-bottom: 20px;
}
.budget_detail-intro h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 20px;
}
.budget_detail-intro p {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 40px;
}

.budget_author-details {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-bottom: 40px;
}
.budget_author-details .budget_author-img {
  width: 35%;
}

.budget_author-name {
  color: #f6901e;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Georama", sans-serif;
}
.budget_author-bio {
  font-size: 18px;
  line-height: 24px;
}

.budget_detail-content {
  position: relative;
}
.budget_detail-content .budget_article {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.budget_detail-content p {
  font-weight: 500;
  font-size: 17px;
  font-family: "Merriweather", serif;
  line-height: 25px;
  margin-bottom: 20px;
}
.budget_detail-content h2 {
  font-weight: 900;
  color: #056eff;
  font-weight: bold;
  font-size: 17px;
  font-family: "Merriweather", serif;
  line-height: 25px;
  margin-bottom: 20px;
}

.also-read,
h2.also-read {
  color: #f6901e;
  text-transform: uppercase;
  font-size: 17px;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.also-read-widget h2.also-read {
  text-align: left;
  font-family: "Georama";
}

.main_wrapper {
  padding: 0 20px;
}

.budget_grid {
  display: flex;
  column-gap: 35px;
  row-gap: 50px;
  flex-wrap: wrap;
  font-family: "Georama", sans-serif;
  margin-bottom: 50px;
}
.budget_story {
  width: 100%;
  box-sizing: border-box;
}

.budget_story .catName {
  background-color: #056eff;
  letter-spacing: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 12px;
  padding: 10px 15px;
  display: inline-block;
}
.budget_story .budget_author-details {
  display: flex;
  align-items: center;
  /* column-gap: 20px; */
}
.budget_story .budget_featured-img {
  margin-bottom: 15px;
}
.budget_story .budget_author-img {
  width: 30%;
  margin-right: 10px;
  border: 2px solid #ccc;
}
.budget_story .budget_author-details img {
  border-radius: 50%;
}
.budget_story .budget_author-text p {
  color: #f6901e;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Georama", sans-serif;
}
.budget_story .budget_author-text h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  font-family: "Georama", sans-serif;
}

@media (max-width: 767px) {
  .also-read-widget {
    display: none;
  }
}
@media (min-width: 768px) {
  .also-read-widget {
    display: none;
  }
  .budget_story .catName {
    letter-spacing: 6px;
    font-size: 10px;
    margin-bottom: 12px;
    padding: 5px 10px;
  }
  .budget_story .budget_author-text p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .budget_story .budget_author-text h2 {
    font-size: 16px;
    line-height: 20px;
  }
  .budget_story .budget_author-details {
    align-items: flex-start;
  }
  .budget_story .budget_author-img {
    width: 30%;
    margin-right: 0px;
  }
}
@media (min-width: 1024px) {
  .budget_story {
    width: 22.2%;
  }

  .budget_detail-content .budget_author-details {
    position: absolute;
    top: 0;
    left: -5%;
    flex-direction: column;
    width: 150px;
    text-align: center;
  }

  .also-read-widget {
    position: absolute;
    top: 20%;
    right: -10%;
    border: 1px solid #000;
    padding: 10px;
    width: 160px;
    display: block;
  }
  .also-read-widget .catName {
    background-color: #056eff;
    color: #fff;
    letter-spacing: 10px;
    font-size: 8px;
    padding: 3px 8px;
    text-transform: uppercase;
    margin-bottom: 5px;
    display: inline-block;
  }
  .also-read-widget h2 {
    font-size: 12px;
    line-height: 15px;
    margin-top: 10px;
    color: #000;
  }
  .also-read-widget h2.also-read {
    color: #f6901e;
    margin: 0 0 10px 0;
  }

  .budget_detail-content .budget_author-img {
    width: 100%;
  }
}
